# Ignore everything first
*

# Start allowing
!.gitignore

!Modules/RapidChangeATC/*
!Modules/RapidChangeATC/Core/*
!Profiles/RapidChangeATC/Macros/load_RapidChangeATC.mcs
!Profiles/RapidChangeATC/Macros/m6.mcs
!Wizards/RapidChange*.mcs
